{
   "Configurations": {
      "WebServices": {
         "Urls": {
            "RequestTokenEndPoint": "/OAuth/RequestToken",
            "AccessTokenEndPoint": "/OAuth/AccessToken",
            "AuthorizationEndPoint": "/OAuth/Authorize?viewmode=desktop&registrationkey=%EncodedDomainKey%&oauth_token=",
            "InvalidateTokenEndPoint": "/OAuth/InvalidateToken",
            "AccountServerUrl": "https://accounts-staging.autodesk.com",
            "LoggedInServerMenuEndPoint": "/api/settings/v1/user/@me",
            "LoggedOutServerMenuEndPoint": "/api/settings/v1/user",
            "LogoutEndPoint": "/OAuth/Logout",
            "LogoutSuccessEndPoint": "/OAuth/LogoutSuccess",
            "LogoutErrorEndPoint": "/OAuth/LogoutFailed",
            "IdentityAccountFolderEndPoint": "/api/accounts/v1/user/@me",
            "IdentityEntitlementEndPoint": "/api/services/entitlements/v1/user/@me",
            "LoggedInUrlEndPoint": "/OAuth/Allow",
            "RegisterEndPoint": "/register",
            "UpdateProfileEndPoint": "/users/%1/view?viewmode=desktop",
            "OAuth2AccountServerUrl": "https://developer-stg.api.autodesk.com",
            "OAuth2AccessTokenEndPoint": "/authentication/v1/exchange",
            "LearnMorePageUrl": "http://www.autodesk.com",
            "StorageOnlineUrl": "https://360-staging.autodesk.com/",
            "StorageOnlineFolderEndPoint": "/#/Item/Items",
            "StorageOnlineDetailsEndPoint": "/#/Item/Details",
            "StorageApiUrl": "https://api-staging.autodesk.com",
            "StorageRoot": "dav",
            "StorageUsageEndPoint": "/storage/usage/v1/user/@me/service/my",
            "ShareUrl": "https://360-staging.autodesk.com/Sharing/Status",
            "ShareStatusUrl": "https://360-staging.autodesk.com/api/v1/Sharing/Status",
            "NitrogenStorageEndPoint": "storage/dav/service/@default/user/@me",
            "NitrogenStorageEndPointRestFolder": "storage/folders/v1/user/@me/service/@default/folder",
            "NitrogenStorageEndPointRestFile": "storage/files/v1/user/@me/service/@default/folder/@any/file",
            "NitrousStorageEndPoint": "storage/dav/service/my/user/@me",
            "NitrousStorageEndPointRestFolder": "storage/folders/v1/user/@me/service/my/folder",
            "NitrousStorageEndPointRestFile": "storage/files/v1/user/@me/service/my/folder/@any/file",
            "NitrogenStorageEndPointUploadNewFile": "storage/files/v1/user/@me/service/%ServiceId%/folder/%FolderId%",
            "NitrogenStorageEndPointUploadModifiedFile": "storage/files/v1/user/@me/service/%ServiceId%/folder/%FolderId%/file/%FileId%",
            "NitrogenStorageEndPointDownloadFile": "storage/files/v1/user/@me/service/%ServiceId%/folder/%FolderId%/file/%FileId%",
            "NitrogenStorageEndPointDeleteFile": "storage/files/v1/user/@me/service/%ServiceId%/folder/%FolderId%/file/%FileId%",
            "NitrogenStorageEndPointGetFolderInfoById": "storage/folders/v1/user/@me/service/%ServiceId%/folder/%FolderId%",
            "NitrogenStorageEndPointGetFolderInfoByPath": "storage/folders/v1/user/@me/service/%ServiceId%/path/%FolderPath%",
            "NitrogenStorageEndPointGetFileInfoById": "storage/files/v1/user/@me/service/%ServiceId%/folder/%FolderId%/file/%FileId%",
            "NitrogenStorageEndPointGetFileInfoByPath": "storage/files/v1/user/@me/service/%ServiceId%/path/%FilePath%",
            "NitrogenStorageEndPointCreateFolder": "storage/folders/v1/user/@me/service/%ServiceId%/folder/%ParentFolderId%",
            "NitrogenStorageEndPointDeleteFolder": "storage/folders/v1/user/@me/service/%ServiceId%/folder/%FolderId%",
            "OAuthRedirect": "/oAuth/OAuthRedirect",
            "ExchangeUrl": "https://apps-staging.autodesk.com/apps/v1",
            "ExchangeUrlParameters": "utm_source=inproduct&utm_medium=infocenter",
            "SyncInstallFailedHelpUrl": "http://www.autodesk.com/adsync-installer",
            "SyncUpdateUrl": "http://com.autodesk.sync.public.staging.s3.amazonaws.com/sync/liveupdate/updates-v2.xml",
            "MacSyncUpdateUrl": "http://com.autodesk.sync.public.staging.s3.amazonaws.com/sync_mac/liveupdate/updates.xml",
            "StorageOptionsUrl": "https://accounts.autodesk.com?section=cloud",
            "TroubleshootSyncErrorsUrl": "http://www.autodesk.com/adsync-error",
            "PatchFileRestEndPoint": "storage/files/v1/user/@me/service/my/folder/@any/file/%FileId%/versions/%VersionId%",
            "SyncConfigUrl": "http://com.autodesk.sync.public.staging.s3.amazonaws.com/sync/config.xml",
            "MacSyncConfigUrl": "http://com.autodesk.sync.public.staging.s3.amazonaws.com/sync_mac/config.xml",
            "ReferenceConfigUrl": "https://references-staging.api.autodesk.com/reference/v1/configInfo",
            "ReferenceUrl": "https://references-staging.api.autodesk.com",
            "ReferenceEndPointPostRefs": "reference/v1/refs",
            "ReferenceEndPointGetRefs": "reference/v1/asset/%AssetLocators%/children/dependency",
            "NitrogenFileUrnNamespace": "urn:adsk.nitrogen:fs.file",
            "ShareFileInBrowserEndPoint": "/api/Item/FileDetails",
            "ShareFolderInBrowserEndPoint": "/api/Item/FolderDetails",
            "HelpUrl": "http://www.autodesk.com/adsk360-help-faq",
            "ChangeServiceUrl": "https://changes-staging.api.autodesk.com",
            "InitiateBaseLineNitrousEndPoint": "baseline/v1/user/@me/service/my",
            "InitiateBaseLineNitrogenEndPoint": "baseline/v1/user/@me/service/@default",
            "ServerMessageUrl": "http://messages-staging.api.autodesk.com.s3.amazonaws.com/alertmessage/v1/product/sync/version/%SyncVersion%/message.xml",
            "MacServerMessageUrl": "http://messages-staging.api.autodesk.com.s3.amazonaws.com/alertmessage/v1/product/sync_mac/version/%SyncVersion%/message.xml",
            "UploadFinishedEventEndPoint": "event/v1/notify/user/@me/action/dependencies_available",
            "AdSSOServerConfigUrl": "https://s3.amazonaws.com/com.autodesk.sync.public.staging/adsso/SSOServer.config"
         }
      }
   }
}