<ApplicationOptions SchemaVersion="1.0">
    <Option key="AppUserModelId" value="AutodeskInc.Fusion360" />
    <Option key="GlobalInstall" value="0" />
    <Option key="StreamerRootUrl" value="https://dl.appstreaming.autodesk.com/production/67316f5e79bc48318aa5f7b6bb58243d/73e72ada57b7480280f7a6f4a289729f/full.json" />
    <Option key="ETag" value="721024e81de57e1d0b2ea232d2d84d3e:1590781082" />
    <Option key="InstallStream" value="production" />
</ApplicationOptions>