<?xml version='1.0' encoding='utf-8'?>
<ApplicationInfos SchemaVersion="1.0">
  <Info key="version" value="R.49.D.13"/> <!-- We may still need a version, Fusion360 want to show FusionDoc's version info in its about dialog -->

  <!-- ansi template path, expected to be relative to %exedir% -->
  <Info key="fusdocDwtPath">
    <Path value="fusdoc.dwt" platform="WIN"/>
    <Path value="Contents/Resources/fusdoc.dwt" platform="MAC"/>
  </Info>

  <!-- iso template path -->
  <Info key="fusdocisoDwtPath">
    <Path value="fusdociso.dwt" platform="WIN"/>
    <Path value="Contents/Resources/fusdociso.dwt" platform="MAC"/>
  </Info>
  
  <!-- version of ACM to be used -->
  <Info key="acmVersionWinDebug" value="M052"/>
  <Info key="acmVersionWinRelease" value="M052"/>
  <Info key="acmVersionMacDebug" value="M052"/>
  <Info key="acmVersionMacRelease" value="M052"/>
</ApplicationInfos>